.nav {
    margin-bottom: 30px;
}

.nav a{
    margin: 0 5px;
}

.bg-black {
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0, 0.5);
    position: fixed;
    top: 0;
}

.bg-white {
    width: 80%;
    background-color: white;
    border-radius: 10px;
    margin: 50px auto;
    display: block;
}

.discount {
    background-color: beige;
    height: 80px;
    line-height: 80px;
    margin-bottom: 20px;
}

/* .startTransition {
    opacity: 0;
    transition: all 1s;
}

.endTransition {
    opacity: 1;
} */

/* 등장 애니메이션 */
.modalTransition-enter-from {
    opacity: 0;
}

.modalTransition-enter-active {
    transition: all 1s;
}

.modalTransition-enter-to {
    opacity: 1;
}

/* 퇴장 애니메이션 */
.modalTransition-leave-from {
    opacity: 1;
}

.modalTransition-leave-active {
    transition: all 1s;
}

.modalTransition-leave-to {
    opacity: 0;
}
